@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
.navbar {
  background-color: rgb(222, 221, 221);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: 60px;
  width: 100%;
  margin-top: -30px;
  font-family: "Syne Mono", monospace;
}
#head {
  font-size: 30px;
}
.row {
  height: 100vh;
}
#my-image,
#use {
  display: none;
}
.frame {
  height: 90px;
  width: 90px;
}
.btn {
  border-style: none;
  background-color: white;
}
.mask1 {
  -webkit-mask-box-image: url(/mask/user_image_frame_1.png);
}
.mask2 {
  -webkit-mask-box-image: url(/mask/user_image_frame_2.png);
}
.mask3 {
  -webkit-mask-box-image: url(/mask/user_image_frame_3.png);
}
.mask4 {
  -webkit-mask-box-image: url(/mask/user_image_frame_4.png);
}
.mainbody{
    border-style: dashed;
    border-color: rgb(93, 255, 93);
    margin-top: 20px;
    text-align: center;
    font-family: "Syne Mono", monospace;
}
/* .mask{
    margin-bottom: 160px;
} */