@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
.navbar1 {
  background-color: rgb(222, 221, 221);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: 60px;
  width: 100%;
  font-family: "Syne Mono", monospace;
}
.frame {
  height: 90px;
  width: 90px;
}
.disp-none{
  display:none;
}
.container-form{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:50px;
  padding-bottom:0;
}
.container-image{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}
#confirm-img{
  height: 218px;
  border-radius: 4px;
}
body{
background-color: rgb(255, 255, 255);
}
#upload-aphoto{
  background: red;
  border-color:red;
}
.mask1 {
  -webkit-mask-box-image: url(/mask/user_image_frame_1.png);
}
.mask2 {
  -webkit-mask-box-image: url(/mask/user_image_frame_2.png);
}
.mask3 {
  -webkit-mask-box-image: url(/mask/user_image_frame_3.png);
}
.mask4 {
  -webkit-mask-box-image: url(/mask/user_image_frame_4.png);
}
.framecontainer{
  text-align: center;
  font-family: "Syne Mono", monospace;
}